@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: 0 0;
  box-sizing: border-box;
}

html, body {
  font: 400 14px / 21px ProximaNova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #62646a;
}

.btn_banner {
  border: 1px solid #fff;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 6px;
  color: #4a73e8;
  font-size: 16px;
  font-weight: bold;
}

.btn_banner:hover {
  border: 1px solid #d4defb;
  background-color: #d4defb;
  padding: 10px 24px;
  border-radius: 6px;
  color: #4a73e8;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.5s;
}

.btn_banner:focus {
  outline: none;
}

.btn_signup {
  border: 1px solid #1dbf73;
  background-color: #1dbf73;
  padding: 10px 25px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.btn_signup:hover {
  border: 1px solid #19a463;
  background-color: #19a463;
  padding: 10px 25px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition: all 1s;
}

.btn_signup:focus {
  outline: none;
}

.btn_select {
  border: 1px solid #fff;
  background-color: #fff;
  padding: 4px 10px;
  border-radius: 57px;
  color: #7a7d85;
  font-size: 10px;
  font-weight: bold;
}

.btn_select:hover {
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
  padding: 4px 10px;
  border-radius: 57px;
  color: #404145;
  font-size: 10px;
  font-weight: bold;
}

.btn_select:focus {
  outline: none;
}

.btn-tools {
  border: 1px solid #1dbf73;
  background-color: #1dbf73;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-tools:hover {
  border: 1px solid #19a463;
  background-color: #19a463;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-carousel-search {
  border: 1px solid transparent;
  background-color: #1dbf73;
  padding: 12px 24px;
  border-radius: 0;
  color: #fff;
  border-radius: 0 3px 3px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: normal;
}

.btn-carousel-search:hover {
  border: 1px solid transparent;
  background-color: #19a463;
  padding: 12px 24px;
  border-radius: 0;
  color: #fff;
  border-radius: 0 3px 3px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: normal;
}

.btn-carousel-search:focus {
  outline: none;
}

/*============== Menu-Header ==============*/
@media screen and (max-width: 1200px) {
  .header__categories {
    opacity: 0;
    height: 0;
  }
}

@media screen and (max-width: 576px) {
  header .header__content .header__left .header__logo {
    flex-grow: 0;
    padding: 15px 15px 15px 15px !important;
    position: fixed;
  }
  header .header__content .header__left .header__logo img {
    vertical-align: baseline;
  }
  header .header__content .header__left .header__search {
    display: none !important;
  }
  header .header__content .header__right {
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 80px;
    left: -100%;
    text-align: left;
    transition: all 0.5s;
    display: block;
  }
  header .header__content .header__right .nav-item {
    padding: 5% 0;
    font-size: 16px;
  }
  header .header__content .header__right .nav-item .nav-link {
    color: #95979d !important;
  }
  header .header__content .header__right .nav-item .fiverrPro {
    color: #1dbf73 !important;
  }
  header .header__content .header__right .nav-item button {
    display: none;
  }
  header .header__content .header__right .nav-item-1 {
    display: block !important;
  }
  header .header__content .header__right .nav-item-1 button {
    margin-left: 10px;
    padding: 7px 20px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    background-color: #1dbf73;
    border: #1dbf73;
  }
  header .header__content .header__right .nav-item-1 button:focus {
    border: none;
  }
  header .header__content .icon__menu {
    display: block !important;
    padding-right: 30px;
  }
  header .header__content .show {
    left: -6%;
  }
  header .header__categories {
    display: block;
  }
}

header {
  width: 100%;
  background: #fff;
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

header .header__content {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

header .header__content .header__left {
  display: flex;
  align-items: center;
  padding: 0;
}

header .header__content .header__left .header__logo {
  flex-grow: 0;
  padding: 15px 15px 15px 0;
}

header .header__content .header__left .header__logo img {
  vertical-align: baseline;
}

header .header__content .header__left .header__search {
  position: relative;
  flex-grow: 1;
}

header .header__content .header__left .header__search .form-control {
  border-radius: 3px 0 0 3px;
  padding: 8px 0 8px 28px;
}

header .header__content .header__left .header__search .form-control:focus {
  border-color: #ced4da;
  box-shadow: 0 0 0 0;
}

header .header__content .header__left .header__search button {
  border: 1px solid transparent;
  background-color: #1dbf73;
  padding: 8px 16px;
  border-radius: 0;
  border-radius: 0 3px 3px 0;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: normal;
}

header .header__content .header__left .header__search::after {
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  content: "\f002";
  color: #999;
  position: absolute;
  z-index: 3;
  top: 8px;
  left: 8px;
}

header .header__content .header__right {
  justify-content: flex-end;
}

header .header__content .header__right .nav-item {
  list-style: none;
}

header .header__content .header__right .nav-item .nav-link {
  color: #62646a;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 0.5px;
}

header .header__content .header__right .nav-item .nav-link img {
  vertical-align: top;
}

header .header__content .header__right .nav-item .nav-link:hover {
  color: #19a463;
}

header .header__content .header__right .nav-item .fiverrPro {
  color: #1e1692;
}

header .header__content .header__right .nav-item .fiverrPro:hover {
  color: #19a463;
}

header .header__content .header__right .nav-item button {
  margin-left: 10px;
  padding: 7px 20px;
  font-weight: 600;
  font-size: 12px;
}

header .header__content .header__right .nav-item-1 {
  display: none;
}

header .header__content .icon__menu {
  color: #62646a;
  font-size: 24px;
  line-height: 80px;
  float: right;
  cursor: pointer;
  display: none;
  /* ẩn*/
}

header .header__categories {
  border-top: 1px #e5e5e5 solid;
}

header .header__categories div {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

header .header__categories div a {
  color: #7a7d85;
  padding: 8px 0;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}

.carousel {
  bottom: 0;
  background-color: #eef2f5;
}

.carousel .carousel__triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 30vw solid #2e6a3c;
  border-left: 80vw solid transparent;
}

@media (max-width: 1440px) {
  .carousel .carousel__triangle {
    border-bottom: 41vw solid #2e6a3c;
    border-left: 82vw solid transparent;
  }
}

.carousel .carousel__content {
  max-width: 1440px;
  margin: 0 auto;
  height: 580px;
  padding-top: 100px;
}

.carousel .carousel__content .carousel__header {
  position: absolute;
  box-sizing: content-box;
  max-width: 543px;
  width: auto;
  height: 580px;
  padding: 100px 0 0 60px;
}

.carousel .carousel__content .carousel__header h1 {
  color: #404145;
  font-size: 42px;
  font-weight: 600;
  line-height: 120%;
  margin: 0;
  padding-bottom: 20px;
}

.carousel .carousel__content .carousel__header h1 i {
  font-family: "Helvetica Neue";
}

.carousel .carousel__content .carousel__header .carousel__form input {
  border-radius: 3px 0 0 3px;
  padding: 8px 7px 7px 44px;
  height: 48px;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
}

.carousel .carousel__content .carousel__header .carousel__form input:focus {
  border-color: #ced4da;
  box-shadow: 0 0 0 0;
}

.carousel .carousel__content .carousel__header .carousel__form::after {
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  content: "\f002";
  font-weight: 900;
  color: #999;
  position: absolute;
  z-index: 3;
  top: 14px;
  left: 16px;
  display: block;
}

.carousel .carousel__content .carousel__header .carousel__header--popular {
  display: flex;
  padding-top: 20px;
}

.carousel .carousel__content .carousel__header .carousel__header--popular:hover {
  cursor: pointer;
}

.carousel .carousel__content .carousel__header .carousel__header--popular span {
  padding-right: 12px;
  font-weight: 600;
  font-size: 14px;
}

.carousel .carousel__content .carousel__header .carousel__header--popular ul {
  display: flex;
  width: 100%;
  list-style: none;
}

.carousel .carousel__content .carousel__header .carousel__header--popular ul li {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #b5b6ba;
  border-radius: 15px;
  margin-right: 15px;
}

.carousel .carousel__content .carousel__header .carousel__header--popular ul li:hover {
  background-color: #19a463 !important;
  border-color: #19a463;
}

.carousel .carousel__content .carousel__header .carousel__header--popular ul li a {
  color: #62646a;
  padding: 0px 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.carousel .carousel__content .carousel__header .carousel__header--popular ul li a:hover {
  color: #fff;
  text-decoration: none;
}

.carousel .carousel__content .carousel__layOver .carousel__layOver--item {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel .carousel__content .carousel__layOver .carousel__layOver--item .carousel__layOver--people {
  position: absolute;
  margin-left: 55%;
  bottom: 0;
  right: 0;
  left: 20px;
  z-index: 0;
}

.carousel .carousel__content .carousel__layOver .carousel__layOver--item .carousel__layOver--text {
  position: absolute;
  bottom: 0;
  left: 150px;
  right: auto;
  margin-left: 60%;
  z-index: 2;
  font-size: 13px;
  color: #fff;
  letter-spacing: 0.5px;
}

.carousel .carousel__brands {
  position: relative;
  bottom: -60px;
  justify-content: center;
  margin-bottom: 120px;
  background-color: #fafafa;
}

.carousel .carousel__brands .carousel-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b5b6ba;
  font-size: 14px;
  font-weight: 600;
}

.carousel .carousel__brands img {
  padding: 0px 35px;
}

@media screen and (max-width: 1200px) {
  .carousel .carousel__triangle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 29vw solid #2e6a3c;
    border-left: 80vw solid transparent;
  }
}

@media screen and (max-width: 576px) {
  .carousel .carousel__triangle {
    border-bottom: 84vw solid #2e6a3c;
    border-left: 100vw solid transparent;
  }
  .carousel .carousel__content {
    max-width: 1440px;
    margin: 0 auto;
    height: 366px !important;
    padding-top: 100px;
  }
  .carousel .carousel__content .carousel__header {
    position: absolute;
    box-sizing: content-box;
    max-width: 543px;
    width: auto;
    height: 366px;
    padding: 0px 0 0 30px;
  }
  .carousel .carousel__content .carousel__header h1 {
    color: #404145;
    font-size: 36px;
    font-weight: 600;
    line-height: 120%;
    margin: 0;
    padding-bottom: 20px;
  }
  .carousel .carousel__content .carousel__header h1 i {
    font-family: "Helvetica Neue";
  }
  .carousel .carousel__content .carousel__header .carousel__form {
    flex-direction: column;
    gap: 10px;
  }
  .carousel .carousel__content .carousel__header .carousel__form .form-control {
    width: 93%;
    border-radius: 5px !important;
    padding: 8px 7px 7px 44px;
    height: 48px;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
  }
  .carousel .carousel__content .carousel__header .carousel__form .form-control:focus {
    border-color: #ced4da;
    box-shadow: 0 0 0 0;
  }
  .carousel .carousel__content .carousel__header .carousel__form .btn-carousel-search {
    width: 93%;
    border: 1px solid transparent;
    background-color: #1dbf73;
    padding: 12px 24px;
    border-radius: 0;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
  }
  .carousel .carousel__content .carousel__header .carousel__form .btn-carousel-search:hover {
    border: 1px solid transparent;
    background-color: #19a463;
    padding: 12px 24px;
    border-radius: 0;
    color: #fff;
    border-radius: 0 3px 3px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
  }
  .carousel .carousel__content .carousel__header .carousel__form .btn-carousel-search:focus {
    outline: none;
  }
  .carousel .carousel__content .carousel__header--popular {
    display: none !important;
  }
  .carousel .carousel__content .carousel__layOver {
    display: none;
  }
  .carousel .carousel__brands .carousel-text {
    display: none;
  }
  .carousel .carousel__brands img {
    padding: 0px 10px;
  }
  .carousel .carousel__brands .img-hidden {
    display: none;
  }
}

.services {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

.services h2 {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  padding-bottom: 24px;
}

.services .services__content .services__card .card-img-top {
  width: 100%;
  height: 345px;
  object-fit: cover;
  cursor: pointer;
  position: relative;
}

.services .services__content .services__card:hover {
  transition: all 0.3s ease-in-out;
  opacity: 0.85;
}

.services .services__content .services__card .card-info {
  position: absolute;
  top: 0;
  margin: 14px 10px;
  font-size: 14px;
  line-height: 21px;
  padding: 0px 0px 0px 10px;
}

.services .services__content .services__card .card-info .card-title {
  display: block;
  margin: 0 auto;
}

.services .services__content .services__card .card-info .card-title a {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  font-family: "Helvetica Neue";
}

.services .services__content .services__card .card-info .card-text {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.services .services__content .services__card:hover a {
  text-decoration: none;
}

.services .services__content .owl-nav button.owl-prev {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 40%;
  left: -23px;
  border-radius: 50%;
  background-color: white;
  transform: rotate(-180deg);
  box-shadow: 0 0 5px #ccc;
}

.services .services__content .owl-nav button.owl-prev:focus {
  outline: none;
}

.services .services__content .owl-nav button.owl-next {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 40%;
  right: -22px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 5px #ccc;
}

.services .services__content .owl-nav button.owl-next:focus {
  outline: none;
}

.services .services__content .owl-prev i,
.services .services__content .owl-next i {
  display: inline-block;
  background: url(../img/arrow-right-black.svg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 16px;
  height: 16px;
  margin-top: 5px;
}

.intro {
  background-color: #f1fdf7;
  padding: 70px 0 0 0;
}

.intro .intro_Container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 120px;
  padding-bottom: 120px;
}

.intro .intro_Container .intro__left {
  padding-right: 118px;
  padding-left: 0;
}

.intro .intro_Container .intro__left h2 {
  color: #404145;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  padding-bottom: 24px;
}

.intro .intro_Container .intro__left h4 {
  color: #404145;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 4px;
}

.intro .intro_Container .intro__left h4 i {
  box-sizing: content-box;
  width: 16px;
  height: 16px;
  color: #62646a;
  padding-right: 10px;
}

.intro .intro_Container .intro__left p {
  color: #62646a;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding-bottom: 24px;
}

.intro .intro_Container .intro__right {
  background-image: url(../img/selling-proposition-still-1400-x1.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 460px;
  position: relative;
}

.intro .intro_Container .intro__right i {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding-top: 25px;
  border: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

@media screen and (max-width: 576px) {
  .intro {
    padding: 42px 0 0 0;
  }
  .intro .intro_Container {
    margin-bottom: 50px;
    padding-bottom: 50px;
  }
  .intro .intro_Container .intro__left {
    padding-right: 0;
    padding-left: 0;
  }
  .intro .intro_Container .intro__left h2 {
    color: #404145;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    padding-bottom: 24px;
  }
  .intro .intro_Container .intro__left h4 {
    color: #404145;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 4px;
  }
  .intro .intro_Container .intro__left h4 i {
    box-sizing: content-box;
    width: 16px;
    height: 16px;
    color: #62646a;
    padding-right: 10px;
  }
  .intro .intro_Container .intro__left h4 span {
    color: #404145;
    font-size: 16px;
    font-weight: 700;
  }
  .intro .intro_Container .intro__left p {
    color: #62646a;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding-bottom: 24px;
  }
  .intro .intro_Container .intro__right {
    background-image: url(../img/selling-proposition-still-1400-x1.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 240px;
    position: relative;
    background-size: contain;
  }
}

.market {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

.market h2 {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  padding-bottom: 24px;
  margin-bottom: 40px;
}

.market .market__items {
  padding: 0px 10px 32px;
  padding-bottom: 55px;
  box-sizing: border-box;
  text-align: center;
}

.market .market__items a {
  color: #222325;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.market .market__items a img {
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 auto 15px;
}

.market .market__items a p {
  color: #404145;
  font-size: 15px;
  font-weight: normal;
}

.market .market__items a::after {
  content: "";
  position: absolute;
  top: 45px;
  right: 50%;
  transform: translateX(50%);
  padding: 0 0 8px;
  width: 48px;
  border-bottom: 2px solid #c5c6c9;
  box-sizing: content-box;
}

.market .market__items a:hover::after {
  padding: 0px 20px 8px;
  border-color: #1dbf73;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out 0s, padding 0.2s ease-in-out 0s;
}

@media screen and (max-width: 576px) {
  .market h2 {
    color: #404145;
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
    padding-bottom: 24px;
    margin-bottom: 40px;
  }
  .market .market__items p {
    color: #404145;
    font-size: 16px !important;
    font-weight: normal;
  }
}

.projects {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

.projects h2 {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  padding-bottom: 24px;
}

.projects .projects__content .projects__card {
  box-shadow: 0 1px 5px 1px #00000026;
}

.projects .projects__content .projects__card .card-img-top {
  width: 100%;
  height: 237px;
  object-fit: cover;
  cursor: pointer;
}

.projects .projects__content .projects__card:hover {
  transition: all 0.3s ease-in-out;
  opacity: .85;
}

.projects .projects__content .projects__card .card-body {
  display: flex;
  padding: 16px 0 12px 16px;
}

.projects .projects__content .projects__card .card-body img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.projects .projects__content .projects__card .card-body .card-info {
  font-size: 14px;
  line-height: 21px;
  padding: 0px 0px 0px 10px;
}

.projects .projects__content .projects__card .card-body .card-info .card-title {
  display: block;
  margin: 0 auto;
}

.projects .projects__content .projects__card .card-body .card-info .card-title a {
  color: #404145;
}

.projects .projects__content .projects__card .card-body .card-info .card-text {
  color: #95979d !important;
}

.projects .projects__content .projects__card .card-body:hover a {
  text-decoration: none;
}

.projects .projects__content .owl-nav button.owl-prev {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 45%;
  left: -23px;
  border-radius: 50%;
  background-color: white;
  transform: rotate(-180deg);
  box-shadow: 0 0 5px #ccc;
}

.projects .projects__content .owl-nav button.owl-prev:focus {
  outline: none;
}

.projects .projects__content .owl-nav button.owl-next {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 45%;
  right: -22px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 5px #ccc;
}

.projects .projects__content .owl-nav button.owl-next:focus {
  outline: none;
}

.projects .projects__content .owl-prev i,
.projects .projects__content .owl-next i {
  display: inline-block;
  background: url(../img/arrow-right-black.svg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 16px;
  height: 16px;
  margin-top: 5px;
}

@media screen and (max-width: 576px) {
  .projects h2 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    padding-bottom: 24px;
  }
}

.comment {
  margin-top: 6%;
  margin-bottom: 6%;
}

.comment .carousel {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
}

.comment .carousel .carousel-inner {
  box-shadow: 1px 0px 1px 1px #f5f5f5;
  border-radius: 5px;
}

.comment .carousel .carousel-inner .comment__container {
  height: 280px;
}

.comment .carousel .carousel-inner .comment__container .comment__content_right {
  position: relative;
}

.comment .carousel .carousel-inner .comment__container .comment__content_right .comment_sub {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comment .carousel .carousel-inner .comment__container .comment__content_right i {
  position: absolute;
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 50%;
  line-height: 80px;
  border: none;
  text-align: center;
  color: white;
  background-color: rgba(64, 65, 69, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.comment .carousel .carousel-inner .comment__container .comment__content_left {
  padding: 0 48px 0 64px;
}

.comment .carousel .carousel-inner .comment__container .comment__content_left .comment_container {
  padding-top: 20px;
}

.comment .carousel .carousel-inner .comment__container .comment__content_left .comment_container h2 {
  font-size: 20px;
  font-weight: 400;
  color: #7a7d85;
}

.comment .carousel .carousel-inner .comment__container .comment__content_left .comment_container .comment-img {
  border-left: 1px solid #c5c6c9;
  height: 36px;
  margin-left: 16px;
}

.comment .carousel .carousel-inner .comment__container .comment__content_left .comment_container .comment-img img {
  display: inline-block;
  height: 36px;
  margin-left: 12px;
}

.comment .carousel .carousel-inner .comment__container .comment__content_left blockquote {
  font-size: 32px;
  line-height: 44px;
  font-family: Helvetica Neue;
  color: #003912;
}

.comment .carousel .carousel-control-prev {
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  top: 50%;
  opacity: 1;
  left: -20px;
  padding-left: 11px;
  box-shadow: -2px 0px 1px 1px #f5f5f5;
}

@media screen and (max-width: 576px) {
  .comment .carousel .carousel-control-prev {
    top: 15%;
  }
}

.comment .carousel .carousel-control-prev .carousel-control-prev-icon {
  background-image: url(../img/arrow-right-gray.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 22px;
  transform: rotate(-180deg);
  opacity: 1;
}

.comment .carousel .carousel-control-next {
  justify-content: flex-end;
  background-color: #fff;
  border: 1px solid transparent;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  opacity: 1;
  top: 50%;
  right: -20px;
  padding-right: 11px;
  box-shadow: 1px 1px 1px 1px #f5f5f5;
}

@media screen and (max-width: 576px) {
  .comment .carousel .carousel-control-next {
    top: 15%;
  }
}

.comment .carousel .carousel-control-next .carousel-control-next-icon {
  background-image: url(../img/arrow-right-gray.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 22px;
  opacity: 1;
}

@media screen and (max-width: 576px) {
  .comment .carousel-inner .carousel-item .comment__container {
    height: 600px;
  }
  .comment .carousel-inner .carousel-item .comment__container .comment__content_right {
    height: 40%;
  }
  .comment .carousel-inner .carousel-item .comment__container .comment__content_right .comment_sub {
    width: 100%;
    object-fit: cover;
  }
  .comment .carousel-inner .carousel-item .comment__container .comment__content_left {
    padding: 0px 35px 0 16px;
  }
  .comment .carousel-inner .carousel-item .comment__container .comment__content_left .comment_container {
    padding-top: 20px;
  }
  .comment .carousel-inner .carousel-item .comment__container .comment__content_left .comment_container h2 {
    font-size: 20px;
    font-weight: 400;
    color: #7a7d85;
  }
  .comment .carousel-inner .carousel-item .comment__container .comment__content_left .comment_container .comment-img {
    border-left: none;
    height: 36px;
    margin-left: 16px;
  }
  .comment .carousel-inner .carousel-item .comment__container .comment__content_left .comment_container .comment-img img {
    display: inline-block;
    height: 36px;
    margin-left: -16px;
  }
  .comment .carousel-inner .carousel-item .comment__container .comment__content_left blockquote {
    font-size: 24px;
    line-height: 44px;
    font-family: Helvetica Neue;
    color: #003912;
  }
}

.banner {
  height: 300px;
  max-width: 1440px;
  width: 90%;
  margin: 64px auto;
  margin-bottom: 64px;
  background-image: url("../img/logo-maker-banner-wide-desktop-1352-2x.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #4a73e8;
}

.banner .banner__content {
  padding-top: 35px;
  align-items: center;
  background-color: #4a73e8;
  padding-left: 5%;
}

.banner .banner__content .banner__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.banner .banner__content .banner__item .banner-img-logo {
  filter: brightness(0) invert(1);
  height: 22px;
}

.banner .banner__content .banner__item small {
  color: #fff;
  font-size: 28px;
  font-weight: normal;
  padding-top: 3px;
  padding-left: 5px;
}

.banner .banner__content .banner__item::after {
  content: "maker.";
  font-size: 28px;
  padding-top: 3px;
  padding-left: 2px;
  color: white;
}

.banner .banner__content h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  padding: 26px 0 0;
}

.banner .banner__content h2 i {
  font-family: "Helvetica Neue";
  font-size: 35px;
}

.banner .banner__content .banner-description {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  padding-bottom: 26px;
}

@media screen and (max-width: 576px) {
  .banner {
    background-image: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 580px;
    max-width: 1440px;
    width: 90%;
    margin: 64px auto;
    margin-bottom: 64px;
    background-color: #4a73e8;
  }
  .banner .banner__content {
    padding-top: 28px;
    padding-right: 8%;
    height: 0px;
  }
  .banner .banner__content p {
    color: #fff;
    font-size: 24px;
    font-weight: normal;
    padding-bottom: 10px;
  }
  .banner .banner-img {
    background-image: url(../img/logo-maker-banner-mobile-552-2x.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 107%;
    top: 72px;
    left: 15px;
    right: 0;
  }
}

.guides {
  max-width: 1440px;
  width: 90%;
  margin: 64px auto;
  margin-top: 6%;
}

.guides .guides__container .guides_title {
  display: flex;
  justify-content: space-between;
}

.guides .guides__container .guides_title h2 {
  color: #222325;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 20px;
}

.guides .guides__container .guides_title a {
  padding-top: 12px;
  font-size: 16px;
}

.guides .guides__container .guides_title i {
  font-size: 14px;
}

.guides .guides__container:hover a {
  text-decoration: none;
}

.guides .guides__container .guides__content .guides__overlayer img {
  width: 100%;
  padding-bottom: 30px;
}

.guides .guides__container .guides__content .guides__overlayer:hover img {
  opacity: .85;
  transition: all 1s;
}

.guides .guides__container .guides__content .guides__items h4 {
  color: #404145;
  font-size: 18px;
  font-weight: 600;
}

.guides .guides__container .guides__content .guides__items p {
  color: #7a7d85;
  font-size: 16px;
  font-weight: normal;
  padding-bottom: 15px;
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .guides .guides__container .guides__content .guides__items h4 {
    color: #222325;
    font-size: 16px;
    font-weight: 600;
  }
  .guides .guides__container .guides__content .guides__items p {
    color: #7a7d85;
    font-size: 14px;
    font-weight: normal;
  }
}

@media screen and (max-width: 1200px) {
  .guides .guides__container .guides__content .guides__overlayer img {
    width: 100%;
    padding-bottom: 30px;
  }
  .guides .guides__container .guides__content .guides__overlayer:hover img {
    opacity: .85;
    transition: all 1s;
  }
}

@media screen and (max-width: 992px) {
  .guides .guides__container .guides__content .guides__overlayer img {
    display: block;
    width: 100%;
    height: 76%;
    padding-bottom: 30px;
  }
  .guides .guides__container .guides__content .guides__overlayer:hover img {
    opacity: .85;
    transition: all 1s;
  }
}

@media screen and (max-width: 768px) {
  .guides .guides__container .guides__content .guides__overlayer img {
    display: block;
    width: 100%;
    padding-bottom: 30px;
  }
  .guides .guides__container .guides__content .guides__overlayer:hover img {
    opacity: .85;
    transition: all 1s;
  }
}

@media screen and (max-width: 576px) {
  .guides .guides__container .guides_title {
    display: flex;
    justify-content: space-between;
  }
  .guides .guides__container .guides_title h2 {
    color: #222325;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 20px;
  }
  .guides .guides__container .guides_title a {
    padding-top: 8px;
    font-size: 12px;
  }
  .guides .guides__container .guides_title i {
    font-size: 10px;
  }
  .guides .guides__container:hover a {
    text-decoration: none;
  }
}

.signup {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

.signup .signup__container {
  background-image: url(../img/bg-signup-1400-x1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 480px;
  object-fit: cover;
}

.signup .signup__container .signup_content {
  top: 68%;
  left: 30%;
  transform: translate(-50%, -50%);
  padding-right: 7%;
}

.signup .signup__container .signup_content .signup-content-text h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 35px;
}

.signup .signup__container .signup_content .signup-content-text h2 i {
  font-family: "Helvetica Neue";
}

@media screen and (max-width: 576px) {
  .signup {
    margin: 0 35px;
  }
  .signup .signup__container {
    background-image: url(../img/bg-signup-1400-x1.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .signup .signup__container .signup_content {
    top: 60%;
    left: 52%;
    transform: translate(-50%, -50%);
    padding-right: 8%;
  }
  .signup .signup__container .signup_content .signup-content-text h2 {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
  }
  .signup .signup__container .signup_content .signup-content-text h2 i {
    font-family: "Helvetica Neue";
  }
}

.about {
  margin-top: 10%;
  border-top: 1px solid #e4e5e7;
}

.about .about_container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  padding-top: 5%;
}

@media (min-width: 500px) {
  .about .about_container .about_1 {
    display: none;
  }
}

.about .about_container .about_content h4 {
  color: #404145;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 20px;
}

.about .about_container .about_content ul li {
  list-style-type: none;
  padding-bottom: 16px;
}

.about .about_container .about_content ul li a {
  color: #7a7d85;
  font-size: 15px;
  font-weight: normal;
}

.about .about_container .about_content ul li a small {
  display: block;
  color: #b5b6ba;
  font-size: 14px;
  font-weight: normal;
}

@media screen and (max-width: 576px) {
  .about {
    margin-top: 10%;
    border-top: 1px solid #e4e5e7;
  }
  .about .about_container {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    padding-top: 5%;
  }
}

@media screen and (max-width: 576px) and (min-width: 500px) {
  .about .about_container .about_1 {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .about .about_container .about_content h4 {
    color: #404145;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 20px;
    display: flex;
  }
  .about .about_container .about_content ul li {
    list-style-type: none;
    padding-bottom: 16px;
  }
  .about .about_container .about_content ul li a {
    color: #7a7d85;
    font-size: 15px;
    font-weight: normal;
  }
  .about .about_container .about_content ul li a small {
    display: block;
    color: #b5b6ba;
    font-size: 14px;
    font-weight: normal;
  }
}

.tools {
  margin-bottom: 64px;
  margin-top: 2%;
  background-color: #0d084d;
  padding: 4% 0;
}

.tools .tools__content {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

.tools .tools__content .tools_content_right {
  padding-bottom: 20px;
  max-width: 500px;
}

.tools .tools__content .tools_content_right .tools-business-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tools .tools__content .tools_content_right .tools-business-logo .logo-color {
  filter: brightness(0) invert(1);
}

.tools .tools__content .tools_content_right .tools-business-logo small {
  font-size: 30px;
  color: white;
  padding-top: 3px;
  padding-left: 5px;
}

.tools .tools__content .tools_content_right .tools-business-logo::after {
  content: "NEW";
  color: white;
  border: 1px #0d084d solid;
  background-color: #584aff;
  border-radius: 15px;
  font-size: 10px;
  padding: 0px 8px;
  font-weight: 600;
  margin-left: 8px;
}

.tools .tools__content .tools_content_right .tools-font {
  padding-bottom: 20px;
  padding-top: 40px;
  max-width: 420px;
}

.tools .tools__content .tools_content_right .tools-font span {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  line-height: 38px;
}

.tools .tools__content .tools_content_right .tools-font span i {
  font-family: "Helvetica Neue";
}

.tools .tools__content .tools_content_right .tools-text {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 3%;
}

.tools .tools__content .tools_content_right .tools__items {
  padding-bottom: 16px;
}

.tools .tools__content .tools_content_right .tools__items i {
  color: #62646a;
  font-size: 22px;
}

.tools .tools__content .tools_content_right .tools__items span {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  padding-left: 6px;
}

.tools .tools__content .tools_content_right .btn-tools {
  cursor: pointer;
  margin-top: 30px;
  transition: all 0.5s ease;
}

.tools .tools__content .tools_content_right .btn-tools a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.tools .tools__content .tools_content_left {
  background-image: url(../img/business-desktop-870-x1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 90%;
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .tools .tools__content .tools_content_left {
    width: 100%;
    height: 83%;
  }
}

@media screen and (max-width: 1200px) {
  .tools .tools__content .tools_content_right p {
    color: #7a7d85;
    font-size: 14px;
    font-weight: normal;
    padding-right: 0;
  }
  .tools .tools__content .tools_content_left {
    background-image: url(../img/ipadX2.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 72%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 992px) {
  .tools .tools__content .tools_content_right h2 {
    color: #222325;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 65px;
  }
  .tools .tools__content .tools_content_right h4 {
    color: #222325;
    font-size: 16px;
    font-weight: 600;
  }
  .tools .tools__content .tools_content_right p {
    color: #7a7d85;
    font-size: 16px;
    font-weight: normal;
    padding-right: 19%;
  }
  .tools .tools__content .tools_content_left {
    background-image: url(../../img/business-desktop-870-x1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 56%;
    margin-top: 65px;
  }
}

@media screen and (max-width: 768px) {
  .tools .tools__content .tools_content_right {
    padding-bottom: 0px;
  }
  .tools .tools__content .tools_content_right h2 {
    color: #222325;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 12%;
  }
  .tools .tools__content .tools_content_right h4 {
    color: #222325;
    font-size: 16px;
    font-weight: 600;
  }
  .tools .tools__content .tools_content_right p {
    color: #7a7d85;
    font-size: 16px;
    font-weight: normal;
    padding-right: 10%;
  }
  .tools .tools__content .tools_content_left {
    background-image: url(../img/ipadX2.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60%;
    padding: 35%;
  }
}

@media screen and (max-width: 576px) {
  .tools .tools__content .tools_content_right {
    padding-bottom: 0px;
  }
  .tools .tools__content .tools_content_right .tools-business-logo {
    padding-top: 20px;
  }
  .tools .tools__content .tools_content_right .tools-business-logo .logo-color {
    height: 21px;
  }
  .tools .tools__content .tools_content_right .tools-business-logo small {
    font-size: 28px;
    color: white;
    padding-top: 3px;
    padding-left: 5px;
  }
  .tools .tools__content .tools_content_right .tools-business-logo::after {
    content: "NEW";
    color: white;
    border: 1px #0d084d solid;
    background-color: #584aff;
    border-radius: 15px;
    font-size: 10px;
    padding: 0px 8px;
    font-weight: 600;
    margin-left: 8px;
  }
  .tools .tools__content .tools_content_right .tools-font {
    padding-bottom: 20px;
    padding-top: 40px;
    max-width: 420px;
  }
  .tools .tools__content .tools_content_right .tools-font span {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    line-height: 38px;
  }
  .tools .tools__content .tools_content_right .tools-font span i {
    font-family: "Helvetica Neue";
  }
  .tools .tools__content .tools_content_left {
    background-image: url(../img/business-mobile-552-x1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 90%;
    margin-top: 35px;
    padding: 50%;
  }
}

@media screen and (max-width: 576px) and (min-width: 1200px) and (max-width: 1440px) {
  .tools .tools__content .tools_content_left {
    width: 100%;
    height: 83%;
  }
}

footer {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

footer .footer__container {
  border-top: 1px solid #e4e5e7;
}

footer .footer__container .footer__items__right {
  margin-top: 25px;
}

footer .footer__container .footer__items__right .footer__text {
  display: inline;
  color: #b5b6ba;
  font-size: 12px;
  font-weight: normal;
  margin-left: 20px;
}

footer .footer__container .footer__items__left {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
}

footer .footer__container .footer__items__left ul li {
  list-style: none;
  display: inline;
  padding: 10px;
}

footer .footer__container .footer__items__left li a .fab.fa-twitter,
footer .footer__container .footer__items__left li a .fab.fa-facebook-f,
footer .footer__container .footer__items__left li a .fab.fa-linkedin-in,
footer .footer__container .footer__items__left li a .fab.fa-pinterest-p,
footer .footer__container .footer__items__left li a .fab.fa-instagram {
  font-size: 20px;
  color: #7a7d85;
  height: 34px;
  width: 34px;
  line-height: 34px;
  text-align: center;
  border-radius: 100%;
}

footer .footer__container .footer__items__left:hover .fab.fa-twitter {
  background-color: #f5f5f5;
}

footer .footer__container .footer__items__left:hover .fab.fa-facebook-f {
  background-color: #f5f5f5;
}

footer .footer__container .footer__items__left:hover li a .fab.fa-linkedin-in {
  background-color: #f5f5f5;
}

footer .footer__container .footer__items__left:hover li a .fab.fa-pinterest-p {
  background-color: #f5f5f5;
}

footer .footer__container .footer__items__left:hover li a .fab.fa-instagram {
  background-color: #f5f5f5;
}

footer .footer__container .footer__items__left .footer__button {
  line-height: 12px;
}

footer .footer__container .footer__items__left .footer__button img {
  width: 12%;
}

footer .footer__container .footer__items__left .footer__button .label {
  font-size: 12px;
}

footer .footer__container .footer__items__left .footer__button .label1 {
  font-size: 12px;
}

footer .footer__container .footer__items__left .footer__button .label::after {
  content: ".";
  font-size: 30px;
  padding: 0 8px;
}

@media screen and (max-width: 992px) {
  footer .footer__container .footer__items__left {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
  }
  footer .footer__container .footer__items__left ul li {
    list-style: none;
    display: inline;
    padding: 11px;
  }
  footer .footer__container .footer__items__left li a .fab.fa-twitter,
  footer .footer__container .footer__items__left li a .fab.fa-facebook-f,
  footer .footer__container .footer__items__left li a .fab.fa-linkedin-in,
  footer .footer__container .footer__items__left li a .fab.fa-pinterest-p,
  footer .footer__container .footer__items__left li a .fab.fa-instagram {
    font-size: 20px;
    color: #7a7d85;
    height: 34px;
    width: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 100%;
  }
  footer .footer__container .footer__items__left:hover .fab.fa-twitter {
    background-color: #f5f5f5;
  }
  footer .footer__container .footer__items__left:hover .fab.fa-facebook-f {
    background-color: #f5f5f5;
  }
  footer .footer__container .footer__items__left:hover li a .fab.fa-linkedin-in {
    background-color: #f5f5f5;
  }
  footer .footer__container .footer__items__left:hover li a .fab.fa-pinterest-p {
    background-color: #f5f5f5;
  }
  footer .footer__container .footer__items__left:hover li a .fab.fa-instagram {
    background-color: #f5f5f5;
  }
  footer .footer__container .footer__items__left .footer__button {
    line-height: 12px;
  }
  footer .footer__container .footer__items__left .footer__button img {
    width: 12%;
  }
  footer .footer__container .footer__items__left .footer__button .label {
    font-size: 12px;
  }
  footer .footer__container .footer__items__left .footer__button .label1 {
    font-size: 12px;
  }
  footer .footer__container .footer__items__left .footer__button .label::after {
    content: ".";
    font-size: 30px;
    padding: 0 8px;
  }
}

@media screen and (max-width: 768px) {
  footer .footer__container .footer__items__left {
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
  }
  footer .footer__container .footer__items__left ul li {
    list-style: none;
    display: inline;
    padding: 11px;
  }
  footer .footer__container .footer__items__left li a .fab.fa-twitter,
  footer .footer__container .footer__items__left li a .fab.fa-facebook-f,
  footer .footer__container .footer__items__left li a .fab.fa-linkedin-in,
  footer .footer__container .footer__items__left li a .fab.fa-pinterest-p,
  footer .footer__container .footer__items__left li a .fab.fa-instagram {
    font-size: 20px;
    color: #7a7d85;
    height: 34px;
    width: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 100%;
  }
  footer .footer__container .footer__items__left:hover .fab.fa-twitter {
    background-color: #f5f5f5;
  }
  footer .footer__container .footer__items__left:hover .fab.fa-facebook-f {
    background-color: #f5f5f5;
  }
  footer .footer__container .footer__items__left:hover li a .fab.fa-linkedin-in {
    background-color: #f5f5f5;
  }
  footer .footer__container .footer__items__left:hover li a .fab.fa-pinterest-p {
    background-color: #f5f5f5;
  }
  footer .footer__container .footer__items__left:hover li a .fab.fa-instagram {
    background-color: #f5f5f5;
  }
  footer .footer__container .footer__items__left .footer__button {
    line-height: 12px;
  }
  footer .footer__container .footer__items__left .footer__button img {
    width: 12%;
  }
  footer .footer__container .footer__items__left .footer__button .label {
    font-size: 12px;
  }
  footer .footer__container .footer__items__left .footer__button .label1 {
    font-size: 12px;
  }
  footer .footer__container .footer__items__left .footer__button .label::after {
    content: ".";
    font-size: 30px;
    padding: 0 8px;
  }
}

@media screen and (max-width: 576px) {
  footer .footer__container .footer__items__right {
    margin-top: 25px;
  }
  footer .footer__container .footer__items__right .footer_img {
    display: block;
    margin: 0 auto;
  }
  footer .footer__container .footer__items__right .footer__text {
    display: block;
    color: #b5b6ba;
    font-size: 10px;
    font-weight: normal;
    margin-top: 10px;
    text-align: center;
  }
  footer .footer__container .footer__items__left {
    margin-top: 25px;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  footer .footer__container .footer__items__left ul li {
    list-style: none;
    display: inline;
    padding: 10px;
  }
  footer .footer__container .footer__items__left li a .fab.fa-twitter,
  footer .footer__container .footer__items__left li a .fab.fa-facebook-f,
  footer .footer__container .footer__items__left li a .fab.fa-linkedin-in,
  footer .footer__container .footer__items__left li a .fab.fa-pinterest-p,
  footer .footer__container .footer__items__left li a .fab.fa-instagram {
    font-size: 16px;
    color: #7a7d85;
    height: 34px;
    width: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 100%;
  }
  footer .footer__container .footer__items__left:hover .fab.fa-twitter {
    background-color: #f5f5f5;
  }
  footer .footer__container .footer__items__left:hover .fab.fa-facebook-f {
    background-color: #f5f5f5;
  }
  footer .footer__container .footer__items__left:hover li a .fab.fa-linkedin-in {
    background-color: #f5f5f5;
  }
  footer .footer__container .footer__items__left:hover li a .fab.fa-pinterest-p {
    background-color: #f5f5f5;
  }
  footer .footer__container .footer__items__left:hover li a .fab.fa-instagram {
    background-color: #f5f5f5;
  }
  footer .footer__container .footer__items__left .footer__button {
    text-align: center;
    padding: 15px;
    line-height: 12px;
  }
  footer .footer__container .footer__items__left .footer__button img {
    width: 12%;
  }
  footer .footer__container .footer__items__left .footer__button .label {
    font-size: 12px;
  }
  footer .footer__container .footer__items__left .footer__button .label1 {
    font-size: 12px;
  }
  footer .footer__container .footer__items__left .footer__button .label::after {
    content: ".";
    font-size: 30px;
    padding: 0 8px;
  }
}
/*# sourceMappingURL=main.css.map */