//7/9/2020
.btn_banner{
    @include styleButton($color-green-3,$color-gray-0,$pd-1,$pd-2 +10,$border-radius + 3);
    @include styleText($color-green-3, $fs-0 - 2,$fw-bold);
    &:hover{
        
        @include styleButton($color-green-3,$color-green-3,$pd-1,$pd-2 +10,$border-radius + 3);
        @include styleText($color-white-0, $fs-0 - 2,$fw-bold);
        transition: all 0.5s;
    }
    &:focus{
       outline: none;
    }
}

.btn_signup{
    @include styleButton($color-green-1,$color-green-1,$pd-1,$pd-2 + 10,$border-radius + 2);
    @include styleText($color-white-0,$fs-2,$fw-bold);
    &:hover{
        @include styleButton($color-green-2,$color-green-2,$pd-1,$pd-2 + 10,$border-radius + 2);
        @include styleText($color-white-0,$fs-2,$fw-bold);
        transition: all 1s;
    }
    &:focus{
        outline: none;
    }
}

.btn_select{
    @include styleButton($color-white-0,$color-white-0,$pd-0 - 1,$pd-1,$border-radius + 54);
    @include styleText($color-gray-7,$fs-1,$fw-bold);
    &:hover{
        @include styleButton($color-gray-9,$color-gray-9,$pd-0 - 1,$pd-1,$border-radius + 54);
        @include styleText($color-black-1,$fs-1,$fw-bold);
    }
    &:focus{
        outline: none;
    }
}