.about {
    margin-top: 10%;
    border-top: 1px solid #e4e5e7;
  
    .about_container {
        max-width: 1440px;
        width: 90%;
        margin: 0 auto;
        padding-top: 5%;
        @media (min-width:500px){
            .about_1{
                display: none;
            }
        }
        .about_content {
            h4 {
                @include styleText($color-black-1, $fs-3, $fw-bold-0);
                padding-bottom: $pd-2;
                .about__icon{
                    display: none;
                }
            }
            ul li {
                list-style-type: none;
                padding-bottom: $pd-1 + 6;
            }
            ul li a {
                @include styleText($color-gray-7, $fs-3 - 1, $fw-normal);
            }
            ul li a small {
                display: block;
                @include styleText($color-gray-8, $fs-3 - 2, $fw-normal);
            }
        }
    }
}
//-------- Responsive mobile-------//
@include responsive ("small"){
    .about {
        .about_container {
            .about_content {
                .about__content__menu{
                    width: 100%;
                    padding-left: 5%;
                    padding-right: 5%;
                }
                .about__close{
                    .about__header {
                        @include styleText($color-black-1, $fs-3, $fw-bold-0);
                        padding-bottom: $pd-2;
                        display: flex;
                        justify-content: space-between;
                        .about__icon{
                            display: block;
                            transition: .4s;
                            color: $color-gray-7;
                            font-weight: 100;
                        }
                    }
                    .about__list{
                        height: 0;
                        overflow: hidden;
                    }
                }
                .about__open{
                    .about__header {
                        @include styleText($color-black-1, $fs-3, $fw-bold-0);
                        padding-bottom: $pd-2;
                        display: flex;
                        justify-content: space-between;
                        .about__icon{
                            display: block;
                            transition: .4s;
                            transform: rotate(-180deg);
                            color: $color-gray-7;
                            font-weight: normal;
                        }
                    }
                    .about__list{
                        height: max-content;
                        width: max-content;
                    }
                } 
            }
        }
    }
}
