.banner {
    height: 300px;
    max-width: 1440px;
    width: 90%;
    margin: 64px auto;
    margin-bottom: 64px; // khoảng cách với section TOOLS
    background-image: url("../img/logo-maker-banner-wide-desktop-1352-2x.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $color-blue-1;
    .banner__content {
        padding-top: 35px;
        align-items: center;
        background-color: $color-blue-1;
        padding-left: 5%;
        .banner__item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .banner-img-logo {
                filter: brightness(0) invert(1);
                height: 22px;
            }
            small {
                @include styleText($color-white-0, $fs-h2 + 4, $fw-normal);
                padding-top: 3px;
                padding-left: 5px;
            }
            &::after {
                content: "maker.";
                font-size: 28px;
                padding-top: 3px;
                padding-left: 2px;
                color: white;
            }
        }
        h2 {
            @include styleText($color-white-0, $fs-h1, $fw-bold-0);
            padding: 26px 0 0;
            i {
                font-family: "Helvetica Neue";
                font-size: $fs-h1 + 3;
            }
        }
        .banner-description {
            @include styleText($color-white-0, $fs-3, $fw-normal);
            padding-bottom: 26px;
        }
    }
}
//------------Responsive ( tablet:"1024px")------------//
//------------Responsive ( PC & laptop:"1440px")------------//
//------------Responsive ( ipad:"768px")------------//
@include responsive ("medium"){
    .banner {
        background-image: none;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 576px;
        max-width: 1440px;
        width: 90%;
        margin: 64px auto;
        margin-bottom: 64px; // khoảng cách với section TOOLS
        background-color: $color-blue-1;
        .banner__content {
            padding-top: 28px;
            padding-right: 8%;
            height: 0px;
            p {
                @include styleText($color-white-0, $fs-h2, $fw-normal);
                padding-bottom: 10px;
            }
        }
        .banner-img {
            background-image: url(../img/logo-maker-banner-tablet-852-2x.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: 66vh;
            left: 15px;
        }
    }
}
//------------Responsive ( Mobile:"576px")------------//
@include responsive("small") {
    .banner {
        height: 635px;
        .banner__content {
            padding-top: 28px;
            padding-right: 8%;
            height: 0px;
            height: 2px;
            h2{
                @include styleText($color-white-0, $fs-h1 - 3, $fw-bold-0);
                padding: 26px 0 0;
                i {
                    font-family: "Helvetica Neue";
                    font-size: $fs-h1 + 3;
                }

            }
        }
        .banner-img {
            background-image: url(../img/logo-maker-banner-mobile-552-2x.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: 94vh;
            top: 72px;
        }
    }
}