.carousel{
    bottom: 0;
    background-color: #eef2f5;
    .carousel__triangle{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0; 
        height: 0; 
        border-bottom: 30vw solid $color-green-4;
        border-left: 80vw solid transparent;
    }
    .carousel__content{
        // position: relative;
        max-width: 1440px;
        margin: 0 auto;
        height: 580px;
        padding-top: 100px;
        
        .carousel__header{
            box-sizing: content-box;
            max-width: 543px;
            width: auto;
            height: 580px;
            padding: 100px 0 0 150px;
            h1{
                color: #404145;
                font-weight: 700;
                font-size: 32px;
                line-height: 120%;
                margin: 0;
                padding-bottom: 20px;
            }
            .carousel__form{
                input {
                    border-radius: 3px 0 0 3px;
                    padding: 8px 7px 7px 44px;
                    height: 48px;

                    letter-spacing: normal;
                    word-spacing: normal;
                    text-transform: none;
                    text-indent: 0px;
                    text-shadow: none;
                    display: inline-block;
                    text-align: start;
                }

                button{
                    @include styleButton($color-trans, $color-green-1, 12px, 24px, 0);
                    color: $color-white-0;
                    border-radius: 0 3px 3px 0;
                    font-weight: $fw-bold-0;
                    font-size: $fs-2;
                    line-height: normal;
                }
            }
            .carousel__form::after{
                font-size: $fs-0;
                font-family: "Font Awesome 5 Free";
                content: "\f002";
                font-weight: 900;
                color: $color-gray-1;
                position: absolute;
                z-index: 3;
                top: 14px;
                left: 16px;
                display: block;
            }
            .carousel__header--popular{
                display: flex;
                padding-top: 20px;
                span{
                    padding-right: 12px;
                    font-weight: $fw-bold-0;
                    font-size: $fs-0;
                }
                ul{
                    display: flex;
                    width: 100%;
                    list-style: none;
                    
                    li{
                        background-color: transparent;
                        border-width: 1px;
                        border-style: solid;
                        border-color: $color-gray-2;
                        border-radius: 3px;
                        margin-right: 12px;
                        a{
                            color: $color-gray-6;
                            padding: 0px 8px;
                            text-align: center;
        
                            font-size: $fs-0;
                            font-weight: $fw-normal;
                        }
                    }
                }
            }
        }
        .carousel__layOver{
            .carousel__layOver--item{
                opacity: 0;
                transition: opacity 1s ease-in-out;
                .carousel__layOver--people{
                    position: absolute;
                    margin-left: 55%;
                    bottom: 0;
                    right: 0;
                    left: 20px;
                    z-index: 0;
                }
                .carousel__layOver--text{
                    position: absolute;
                    bottom: 0;
                    left: 150px;
                    right: auto;
                    margin-left: 60%;
                    z-index: 2;
                    font-size: $fs-2 + 1;
                    color: $color-white-0;
                    letter-spacing: .5px;
                }
            }
        }
    }
    .carousel__brands{
        position: relative;
        bottom: -60px;
        justify-content: center;
        margin-bottom: 120px;
        img{
            padding: 0 24px;
        }
    }
}
