footer {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  .footer__container {
    border-top: 1px solid #e4e5e7;
    .footer__items__right {
      margin-top: 25px;
      .footer__text {
        display: inline;
        @include styleText($color-gray-8, $fs-1 + 2, $fw-normal);
        margin-left: $mg-2 - 5;
      }
    }
    .footer__items__left {
      margin-top: 25px;
      display: flex;
      justify-content: flex-end;
      .footer__icon {
        li {
          list-style: none;
          display: inline;
          padding: $pd-1;
          i {
            font-size: $fs-4;
            color: $color-gray-7;
            height: 34px;
            width: 34px;
            line-height: 34px;
            text-align: center;
            border-radius: 100%;
            &:hover {
              background-color: $color-gray-9;
              height: 34px;
              height: 34px;
              width: 34px;
              line-height: 34px;
            }
          }
        }
      }

      .footer__button {
        .btn_select {
          line-height: 12px;
          padding-top: 6px;
          .footer__img {
            width: 12%;
          }
          .footer__label {
            font-size: 0.9rem;
          }
        }
        .btn__label {
          font-size: 0.9rem;
          padding: 9px 9px;
        }
        .btn_circle {
          font-size: 1.3rem;
          border: 1px solid $color-gray-7;
          border-radius: 100%;
          padding: 6px 10px;
          i {
            color: $color-gray-7;
          }
          &:hover {
            background-color: $color-gray-9;
            border: 1px solid $color-gray-9;
            i {
              color: $color-black-1;
            }
          }
        }
      }
    }
  }
}
//-------- Responsive IPAD 768px-------//
// @include responsive("medium") {
//   .footer__items__left {
//     margin-top: 25px;
//     display: flex;
//     justify-content: flex-start;
//     ul li {
//       list-style: none;
//       display: inline;
//       padding: $pd-1 + 1;
//     }
//     li a .fab.fa-twitter,
//     li a .fab.fa-facebook-f,
//     li a .fab.fa-linkedin-in,
//     li a .fab.fa-pinterest-p,
//     li a .fab.fa-instagram {
//       font-size: $fs-4;
//       color: $color-gray-7;
//       height: 34px;
//       width: 34px;
//       line-height: 34px;
//       text-align: center;
//       border-radius: 100%;
//     }
//     &:hover .fab.fa-twitter {
//       background-color: $color-gray-9;
//     }
//     &:hover .fab.fa-facebook-f {
//       background-color: $color-gray-9;
//     }
//     &:hover li a .fab.fa-linkedin-in {
//       background-color: $color-gray-9;
//     }
//     &:hover li a .fab.fa-pinterest-p {
//       background-color: $color-gray-9;
//     }
//     &:hover li a .fab.fa-instagram {
//       background-color: $color-gray-9;
//     }

//     .footer__button {
//       line-height: 12px;
//       img {
//         width: 12%;
//       }
//       .label {
//         font-size: $fs-2;
//       }
//       .label1 {
//         font-size: $fs-2;
//       }
//       .label::after {
//         content: ".";
//         font-size: 30px;
//         padding: 0 8px;
//       }
//     }
//   }
// }
//-------- Responsive mobile-------//
@include responsive("small") {
  .footer__container {
    .footer__items__right {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      .footer__text {
        margin-left: 0 !important;
        font-size: $fs-3 - 1 !important;
      }
    }
    .footer__items__left {
      flex-direction: column;
      align-items: center;
      margin-top: 0 !important;
      .footer__icon {
        li {
          list-style: none;
          display: inline;
          padding: $pd-1 - 4 !important;
          i {
            font-size: $fs-4;
            color: $color-gray-7;
            height: 34px;
            width: 34px;
            line-height: 34px;
            text-align: center;
            border-radius: 100%;
            &:hover {
              background-color: $color-gray-9;
              height: 34px;
              height: 34px;
              width: 34px;
              line-height: 34px;
            }
          }
        }
      }

      .footer__button {
        margin-bottom: 5%;
        .btn_select {
          line-height: 12px;
          padding-top: 10px;
          .footer__img {
            width: 12%;
          }
          .footer__label {
            font-size: 0.9rem;
          }
        }
        .btn__label {
          font-size: 0.9rem;
          padding: 9px 9px;
        }
        .btn_circle {
          font-size: 1.3rem;
          border: 1px solid $color-gray-7;
          border-radius: 100%;
          padding: 6px 10px;
          i {
            color: $color-gray-7;
          }
          &:hover {
            background-color: $color-gray-9;
            border: 1px solid $color-gray-9;
            i {
              color: $color-black-1;
            }
          }
        }
      }
    }
  }
}
