.services {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    h2 {
        @include styleText($color-black, $fs-h1, $fw-bold-1);
        line-height: 38px;
        padding-bottom: 24px;
    }

    .services__content {
        .services__card {
                // box-shadow: 8px -6px 5px 1px #00000026;
          
            .card-img-top {
                width: 100%;
                height: 345px;
                object-fit: cover;
                cursor: pointer;
                position: relative;
            }
            &:hover {
                transition: all 0.3s ease-in-out;
                opacity: 0.85;
            }
            .card-info {
                position: absolute;
                top: 0;
                margin: 14px 10px;
                font-size: 14px;
                line-height: 21px;
                padding: 0px 0px 0px 10px;
                .card-title {
                    display: block;
                    margin: 0 auto;
                    a{
                        @include styleText($color-white-0, $fs-0, $fw-light) ;
                        font-family: "Helvetica Neue";
                    }
                    
                }
                .card-text {
                    // color: $color-white-0 !important;
                    @include styleText($color-white-0, $fs-h2, $fw-bold) ;
                    
                }
            }
            &:hover {
                a {
                    text-decoration: none;
                }
            }
        }

        .owl-nav button.owl-prev {
            position: absolute;
            width: 48px;
            height: 48px;
            top: 40%;
            left: -23px;
            border-radius: 50%;
            background-color: white;
            transform: rotate(-180deg);
            box-shadow: 0 0 5px #ccc;
            &:focus {
                outline: none;
            }
        }

        .owl-nav button.owl-next {
            position: absolute;
            width: 48px;
            height: 48px;
            top: 40%;
            right: -22px;
            border-radius: 50%;
            background-color: white;
            box-shadow: 0 0 5px #ccc;
            &:focus {
                outline: none;
            }
        }
        .owl-prev i,
        .owl-next i {
            display: inline-block;
            background: url(../img/arrow-right-black.svg) no-repeat;
            background-size: cover;
            background-position: center;
            width: 16px;
            height: 16px;
            margin-top: 5px;
        }
    }
}
