.signup {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    .signup__container {
        background-image: url(../img/bg-signup-1400-x1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 480px;
        object-fit: cover;
        .signup_content {
            top: 68%;
            left: 30%;
            transform: translate(-50%, -50%);
            padding-right: 7%;
            .signup-content-text {
                h2 {
                    @include styleText($color-white-0, $fs-h1 + 16, $fw-bold-0);
                    i {
                        font-family: "Helvetica Neue";
                    }
                    padding-bottom: 35px;
                }
            }
        }
    }
}
//------------Responsive ( ipad:"768px")------------//
@include responsive("medium") {
    .signup {
        .signup__container {
            background-image: none;
            background-color: $color-brown-1;
            height: 300px;
            .signup_content {
                top: 60%;
                left: 52%;
                .signup-content-text {
                    h2 {
                        @include styleText($color-white-0, $fs-h1 + 8, $fw-bold-0);
                        padding-bottom: 30px;
                    }
                    p {
                        @include styleText($color-black-0, $fs-0, $fw-light);
                        padding-bottom: $pd-1 + 6;
                    }
                }
            }
        }
    }
}
//------------Responsive ( Mobile:"576px")------------//
@include responsive("small") {
    .signup {
        margin: 0 35px;
        .signup__container {
            background-image: url(../img/bg-signup-1400-x1.png);
            background-position: left;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 300px;
            object-fit: cover;
            .signup_content {
                top: 60%;
                left: 52%;
                transform: translate(-50%, -50%);
                padding-right: 8%;
                .signup-content-text {
                    h2 {
                        @include styleText($color-white-0, $fs-h1, $fw-bold-0);
                        i {
                            font-family: "Helvetica Neue";
                        }
                    }
                }
            }
        }
    }
}

//------------Responsive ( tablet:"1024px")------------//
//------------Responsive ( PC & laptop:"1440px")------------//
