.tools{
    margin-bottom: 64px;
    margin-top: 2%;
    background-color: #0d084d;
    padding: 4% 0;
    .tools__content{
        max-width: 1440px;
        width: 90%;
        margin: 0 auto;
        .tools_content_right{ 
            padding-bottom: 20px;
            max-width: 500px;
            .tools-business-logo{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .logo-color{
                    filter: brightness(0) invert(1);
                }
                small{
                    font-size: 30px;
                    color: white;
                    padding-top: 3px;
                    padding-left: 5px;
                }
                &::after{
                    content: "NEW";
                    color: white;
                    border: 1px #0d084d solid;
                    background-color: #584aff;
                    border-radius: 15px;
                    font-size: 10px;
                    padding: 0px 8px;
                    font-weight: 600;
                    margin-left: 8px; 
                }
            }
            .tools-font{
                padding-bottom: 20px;
                padding-top: 40px;
                max-width: 420px;
              span{
                @include styleText($color-white-0,$fs-h1 - 2,$fw-bold);
                line-height: 38px;
                i{
                    font-family:"Helvetica Neue" ;
                }
              }
            }
            .tools-text{
                @include styleText($color-white-0,$fs-3 + 2,$fw-normal);
                padding-bottom: 3%;
            }
            .tools__items{
                padding-bottom: 16px;
                i{
                    @include styleText($color-gray-6,$fs-4 + 2,null);
                }
                span{
                    @include styleText($color-white-0,$fs-3,$fw-normal);
                    padding-left: 6px;
                    
                }
            }
            .btn-tools{
                cursor: pointer;
                margin-top: 30px;
                transition: all 0.5s ease;
                a{
                    text-decoration: none;
                    @include styleText($color-white-0,$fs-3,$fw-bold-0);
                }
            }
           
        }
        .tools_content_left{
            background-image: url(../img/business-desktop-870-x1.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 90%;
            @media screen and (min-width:1200px) and (max-width:1440px){
                width: 100%;
                height: 83%;
            }
        }
    }
    @include responsive('extra-large'){
        .tools__content{
            .tools_content_right{
                p{
                    @include styleText($color-gray-7,$fs-0,$fw-normal);
                    padding-right: 0;
                }
            }
            .tools_content_left{
                background-image: url(../img/ipadX2.gif);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 100%;
                height: 72%;
                margin-top: 30px;
            }
        }
    }
    @include responsive('large'){
        .tools__content{
            .tools_content_right{
                h2{
                    @include styleText($color-black-0,$fs-h2,$fw-bold);
                    padding-bottom: 20px;
                    padding-top: 65px;
                }
                h4{
                    @include styleText($color-black-0,$fs-3,$fw-bold-0);
                }
                p{
                    @include styleText($color-gray-7,$fs-3,$fw-normal);
                    padding-right: 19%; 
                }
            }
            .tools_content_left{
                background-image: url(../../img/business-desktop-870-x1.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 100%;
                height: 56%;
                margin-top: 65px;
            }
        }
    }
    @include responsive('medium'){
        .tools__content{
            .tools_content_right{
                padding-bottom: 0px;
                h2{
                    @include styleText($color-black-0,$fs-h2,$fw-bold);
                    padding-bottom: 20px;
                    padding-top: 12%;
                }
                h4{
                    @include styleText($color-black-0,$fs-3,$fw-bold-0);
                }
                p{
                    @include styleText($color-gray-7,$fs-3,$fw-normal);
                    padding-right: 19%;
                }
            }
            .tools_content_left{
                background-image: url(../img/ipadX2.gif);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 100%;
                height: 60%;
                padding: 35%;
            }
        }
    }
    @include responsive('small'){
        .tools__content{
            .tools_content_right{
                padding-bottom: 0px;
                h2{
                    @include styleText($color-black-0,$fs-4,$fw-bold);
                    padding-bottom: 20px;
                    padding-top: 12%;
                }
                h4{
                    @include styleText($color-black-0,$fs-3,$fw-bold-0);
                }
                p{
                    @include styleText($color-gray-7,$fs-3 - 1,$fw-normal);
                    padding-right: 0%;
                }
            }
            .tools_content_left{
                background-image: url(../img/ipadX2.gif);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 100%;
                height: 60%;
                padding: 35%;
            }
        }
    }
}